<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employee.Properties.Settings.EmployeesConnectionString"
            connectionString="Data Source=.;Initial Catalog=Employees;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>